<ion-content color="medium">
  <ion-header>
    <div style="display: flex; align-items: center; justify-content: space-evenly;width: 100%;padding: 20px;">
      <ion-img src="../../assets/profileimg.png" class="profile-img"></ion-img>
      <div style="width: 33.33%; display: flex; flex-direction: column; align-items: center;">
        <span style="display: flex; align-items: center; font-size: 20px; justify-content: space-around; width: 100%;">
          Kretya L
          <ion-img src="../../assets/flag.png" style="width: 12.64;"></ion-img>
        </span>
        <p style="font-size: 14px;">4.9 (8K reviews)</p>
      </div>
      <div style="width: 40%; display: flex; align-items: center; justify-content: space-evenly;">
        <ion-img style="height: 20px;" src="../../assets/arrows.png"></ion-img>
        <ion-img style="height: 20px;" src="../../assets/boxes.png"></ion-img>
        <ion-img style="height: 20px;" src="../../assets/bell.png"></ion-img>
      </div>
    </div>
  </ion-header>
  <div style="display: flex; align-items: center; justify-content: center; margin-top: 10px;">
    <div style="height: 96px; width: 90%; background-color: white; border-radius: 20px; display: flex; align-items: center; justify-content: space-between;">
      <div style="width: 20%;">
        <p style="font-size: 14px;color: black;">$6340</p>
      </div>
      <div style="width: 20%;">
        <p style="font-size: 14px;color: black;">5</p>
      </div>
      <div style="width: 20%;">
        <p style="font-size: 14px;color: black;">4</p>
      </div>
      <div style="width: 20%;">
        <p style="font-size: 14px;color: black;">20</p>
      </div>
      <div style="width: 20%;">
        <p style="font-size: 14px;color: black;">6</p>
      </div>
    </div>
  </div>
</ion-content>
